root = true

[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
tab_width = 4

[*.asm]
indent_style = tab
trim_trailing_whitespace = true

[*.{masm.asm,nasm.asm}]
charset = latin1
end_of_line = crlf

[*.gas.asm]
tab_width = 8

[*.py]
indent_style = tab
trim_trailing_whitespace = true
