root = true

[*]
charset = utf-8
insert_final_newline = true

[*.asm]
indent_style = tab
trim_trailing_whitespace = true

[*.{masm.asm,nasm.asm}]
charset = latin1
end_of_line = crlf
tab_width = 4

[*.gas.asm]
end_of_line = lf
tab_width = 8

[*.py]
end_of_line = lf
tab_width = 4
